<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h1>

</section>

<section class="row">
  <article class="column">
    <h2>Travis</h2>
     <p>Blog do Adriano!</p>
  </article>

</section>
